# Web Framework
fastapi[standard]
uvicorn[standard]

# Database Drivers
asyncpg
psycopg2-binary

# Authentication & User Management
fastapi-users[asyncpg]
python-jose
pyjwt
passlib[bcrypt]

# Rate Limiting
slowapi

# Configuration & Environment
python-dotenv

# File Upload & Forms
python-multipart

# Testing
pytest